#body1{
    background-image: url("cany.jpg");
}

.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

#body2{
	background:crimson;
}